.event {
  background: rgb(252, 252, 252);
  padding-top:0%;
  padding-bottom: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 5px 8px rgba(0,0,0,0.10);
}

.eventImg {
  width: 350px;
  height: 350px;
  max-width: 350px;
  max-height: 350px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}